<!-- chat.html -->
<!DOCTYPE html>
<html>
<head>
  <title>Chat</title>
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.1/socket.io.min.js"></script>
  <script src="{{ url_for('static', filename='script/socketio.js') }}"></script>
</head>
<body>
  <div id="chat">
    <div id="chat-messages"></div>
    <div id="user-list">
      <h2>Users</h2>
      <ul id="users"></ul>
    </div>

    <form id="chat-form">
      <input type="text" id="receiver-select" placeholder="Select Receiver">
      <input type="text" id="message-input" placeholder="Type your message">
      <button type="submit">Send</button>
    </form>
  </div>
</body>
</html>
