{% extends "layout.html"%}
{% block content%}
  
<div class="scren__content">

      <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="user-details">

          <div class="input-box">    
                                                                
            {{ form.messages.label(class="details") }}
            {{ form.messages }}

            </div> 
          {# <div class="input-box">
            <span class="details">Messages</span>
             <input type="text" placeholder="Enter your email" required> #}

        {# <div class="button">
        <input type="submit" value="Register"> </div> #}
        <div class="button">
          {{ form.submit(class="button") }}
        </div>

      </div>
      </div>


      </form>

{% endblock content%}